/*place global styles here */
html,
body {
  @apply h-full overflow-hidden;
}

:root {
  /* =~= Theme Styles =~= */
  --theme-border-base: 1px;
  --theme-font-family-heading: system-ui;
  --theme-font-family-base: Inter, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --theme-font-color-base: var(--color-surface-900);
  --theme-font-color-dark: var(--color-surface-50);
  --theme-rounded-base: 4px;
  --theme-rounded-container: 8px;
  /* =~= Theme On-X Colors =~= */
  --on-primary: #000;
  --on-accent: #fff;
  --on-tertiary: #000;
  --on-warning: #fff;
  --on-surface: #fff;
  /* =~= Theme Colors | Tailwind =~= */
  /* amber | #f59e0b */
  --color-primary-50: 255 251 235; /* ⬅ #fffbeb */
  --color-primary-100: 254 243 199; /* ⬅ #fef3c7 */
  --color-primary-200: 253 230 138; /* ⬅ #fde68a */
  --color-primary-300: 252 211 77; /* ⬅ #fcd34d */
  --color-primary-400: 251 191 36; /* ⬅ #fbbf24 */
  --color-primary-500: 245 158 11; /* ⬅ #f59e0b */
  --color-primary-600: 217 119 6; /* ⬅ #d97706 */
  --color-primary-700: 180 83 9; /* ⬅ #b45309 */
  --color-primary-800: 146 64 14; /* ⬅ #92400e */
  --color-primary-900: 120 53 15; /* ⬅ #78350f */
  /* lime | #84cc16 */
  --color-accent-50: 247 254 231; /* ⬅ #f7fee7 */
  --color-accent-100: 236 252 203; /* ⬅ #ecfccb */
  --color-accent-200: 217 249 157; /* ⬅ #d9f99d */
  --color-accent-300: 190 242 100; /* ⬅ #bef264 */
  --color-accent-400: 163 230 53; /* ⬅ #a3e635 */
  --color-accent-500: 132 204 22; /* ⬅ #84cc16 */
  --color-accent-600: 101 163 13; /* ⬅ #65a30d */
  --color-accent-700: 77 124 15; /* ⬅ #4d7c0f */
  --color-accent-800: 63 98 18; /* ⬅ #3f6212 */
  --color-accent-900: 54 83 20; /* ⬅ #365314 */
  /* cyan | #06b6d4 */
  --color-tertiary-50: 236 254 255; /* ⬅ #ecfeff */
  --color-tertiary-100: 207 250 254; /* ⬅ #cffafe */
  --color-tertiary-200: 165 243 252; /* ⬅ #a5f3fc */
  --color-tertiary-300: 103 232 249; /* ⬅ #67e8f9 */
  --color-tertiary-400: 34 211 238; /* ⬅ #22d3ee */
  --color-tertiary-500: 6 182 212; /* ⬅ #06b6d4 */
  --color-tertiary-600: 8 145 178; /* ⬅ #0891b2 */
  --color-tertiary-700: 14 116 144; /* ⬅ #0e7490 */
  --color-tertiary-800: 21 94 117; /* ⬅ #155e75 */
  --color-tertiary-900: 22 78 99; /* ⬅ #164e63 */
  /* gray | #6b7280 */
  --color-warning-50: 249 250 251; /* ⬅ #f9fafb */
  --color-warning-100: 243 244 246; /* ⬅ #f3f4f6 */
  --color-warning-200: 229 231 235; /* ⬅ #e5e7eb */
  --color-warning-300: 209 213 219; /* ⬅ #d1d5db */
  --color-warning-400: 156 163 175; /* ⬅ #9ca3af */
  --color-warning-500: 107 114 128; /* ⬅ #6b7280 */
  --color-warning-600: 75 85 99; /* ⬅ #4b5563 */
  --color-warning-700: 55 65 81; /* ⬅ #374151 */
  --color-warning-800: 31 41 55; /* ⬅ #1f2937 */
  --color-warning-900: 17 24 39; /* ⬅ #111827 */
  /* stone | #78716c */
  --color-surface-50: 250 250 249; /* ⬅ #fafaf9 */
  --color-surface-100: 245 245 244; /* ⬅ #f5f5f4 */
  --color-surface-200: 231 229 228; /* ⬅ #e7e5e4 */
  --color-surface-300: 214 211 209; /* ⬅ #d6d3d1 */
  --color-surface-400: 168 162 158; /* ⬅ #a8a29e */
  --color-surface-500: 120 113 108; /* ⬅ #78716c */
  --color-surface-600: 87 83 78; /* ⬅ #57534e */
  --color-surface-700: 68 64 60; /* ⬅ #44403c */
  --color-surface-800: 41 37 36; /* ⬅ #292524 */
  --color-surface-900: 28 25 23; /* ⬅ #1c1917 */
}

[data-theme="base"] {
  /* prettier-ignore */
  background-image:
		radial-gradient(at 73% 84%, rgba(113, 239, 178, 0.18) 0px, transparent 50%),
		radial-gradient(at 16% 79%, hsla(268,79%,73%,0.18) 0px, transparent 50%),
		radial-gradient(at 88% 64%, rgba(167, 92, 224, 0.18) 0px, transparent 50%),
		radial-gradient(at 67% 14%, hsla(167,87%,76%,0.18) 0px, transparent 50%),
		radial-gradient(at 70% 75%, rgba(231, 148, 115, 0.18) 0px, transparent 50%),
		radial-gradient(at 98% 62%, rgba(232, 203, 74, 0.18) 0px, transparent 50%),
		radial-gradient(at 50% 19%, hsla(322,97%,63%,0.18) 0px, transparent 50%);
}
.dark [data-theme="base"] {
  /* prettier-ignore */
  background-image:
		radial-gradient(at 36% 0%, rgba(225, 165, 61, 0.2) 0px, transparent 50%),
		radial-gradient(at 71% 4%, rgba(209, 26, 148, 0.18) 0px, transparent 50%);
}
